#!/usr/bin/env xdg-open
[Desktop Entry]
Name=WebEx
Comment=Run WebEx into a Docker Container
Exec=/usr/local/bin/run-webex.sh
Icon=/usr/share/icons/webex.png
Terminal=true
Type=Application
StartupNotify=true
